[gcode_macro _CLIENT_VARIABLE]
variable_use_fw_retract: False
gcode:

[gcode_macro PRINT_START]
gcode:
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}

  SET_GCODE_OFFSET Z=0                                 # Set offset to 0
  SMARTHOME                                                   # Full home (XYZ)
  G90                                                   # Absolute position
  {% if params.BED|int > 90 %}
    G1 X162 Y146.5 Z15 F1500                    # Go to center of the bed
    M190 S{target_bed}                                  
  {% endif %}                                             # Heat hotend to 150c
  M109 S{target_extruder}
  G28 Z METHOD=CONTACT CALIBRATE=1                     # Calibrate z offset and beacon model
  SMART_Z_TILT                                                                                            
  SET_GCODE_OFFSET Z=0.035                              
  G92 E0
  Line_Purge
  G90                                                   # Absolute position[gcode_macro PRINT_START]

[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

[gcode_macro SMARTHOME]
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
        M118 Printer is already homed
    {% else %}
        M118 Printer needs homed...
        G28 X
	G0 X300 F9000
	G28 Y
	G0 Y146.5 X162 F9000
	G28 Z
	G0 Z25
    {% endif %}

[gcode_macro START_HEAT_SOAK]
gcode:

    {% set SOAK = params.SOAK|default(10) %}
           
        M117 Heating for Soak
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=80
        M190 S110
        M117 Starting Soak 
    {% for timer in range( SOAK,0,-1) %} #we cycle once a minute, so we can send an update to keep octoprint happy, rather than just sleeping for the entire soak
        M117 Soak: {timer|int}m remaining 
        M105
        G4 P60000
    {% endfor %}
        M117 Soak Complete
    
[gcode_macro SMART_Z_TILT]
gcode:
  {% if printer["gcode_macro Z_TILT_ADJUST"].adjusted != 1 %}
    Z_TILT_ADJUST
  {% else %}
    {action_respond_info("Z tilt already adjusted, skipping.")} 
  {% endif %}

[gcode_macro Z_TILT_ADJUST]
rename_existing: OG_Z_TILT_ADJUST
variable_adjusted: 0
gcode:
  OG_Z_TILT_ADJUST
  G28 Z
  SET_GCODE_VARIABLE MACRO=Z_TILT_ADJUST VARIABLE=adjusted VALUE=1

[gcode_macro M18]
rename_existing: M1800
gcode:
  M1800
  SET_GCODE_VARIABLE MACRO=Z_TILT_ADJUST VARIABLE=adjusted VALUE=0

[gcode_macro M84]
rename_existing: M8400
gcode:
  M8400
  SET_GCODE_VARIABLE MACRO=Z_TILT_ADJUST VARIABLE=adjusted VALUE=0

[gcode_macro ADXL_SHAPE_ALL]
description: Test resonances for both axis
gcode:
    M118 DO NOT TOUCH THE PRINTER UNTIL DONE!!!
    SMARTHOME
    SHAPER_CALIBRATE AXIS=x
    SHAPER_CALIBRATE AXIS=y
    RUN_SHELL_COMMAND CMD=adxl_shape_x
    RUN_SHELL_COMMAND CMD=adxl_shape_y
    M118 Test done

[gcode_macro ADXL_SHAPE_X]
description: Test resonances for X axis
gcode:
    M118 DO NOT TOUCH THE PRINTER UNTIL DONE!!!
    SMARTHOME
    SHAPER_CALIBRATE AXIS=x
    RUN_SHELL_COMMAND CMD=adxl_shape_x
    M118 Test done

[gcode_macro ADXL_SHAPE_Y]
description: Test resonances for Y axis
gcode:
    M118 DO NOT TOUCH THE PRINTER UNTIL DONE!!!
    SMARTHOME
    SHAPER_CALIBRATE AXIS=y
    RUN_SHELL_COMMAND CMD=adxl_shape_y
    M118 Test done

[gcode_shell_command adxl_shape_x]
command: sh ~/printer_data/config/shaper/adxl_shape_x.sh		# edit: ´/macro/shell_commands/´ to where your .sh file lays
timeout: 60.
verbose: True

[gcode_shell_command adxl_shape_y]
command: sh ~/printer_data/config/shaper/adxl_shape_y.sh		# edit: ´/macro/shell_commands/´ to where your .sh file lays
timeout: 60.
verbose: True

### name file: adxl_shape_x.sh
#~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_x_*.csv -o ~/printer_data/config/shaper_calibrate_x.png

### name file: adxl_shape_y.sh
#~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_y_*.csv -o ~/printer_data/config/shaper_calibrate_y.png