[gcode_macro _CLIENT_VARIABLE]
variable_use_fw_retract: True
gcode:

[gcode_macro PRINT_START]
gcode:
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}

  SET_GCODE_OFFSET Z=0                                 # Set offset to 0
  SMARTHOME                                                   # Full home (XYZ)
  G90                                                   # Absolute position
  #BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    G1 X162 Y175 Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    #SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Display info on display
    #TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber temp
    #SET_DISPLAY_TEXT MSG="Soak for 5 min"
    #G4 P3000000                                         # Wait 5 min for the bedtemp to stabilize
  {% endif %}                                             # Heat hotend to 150c
  G28 Z METHOD=CONTACT CALIBRATE=1                     # Calibrate z offset and beacon model
  SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  SMART_Z_TILT                                       # Level the printer via Z_TILT_ADJUST
  #SET_DISPLAY_TEXT MSG="Bed mesh"                      # Display info on display
  #BED_MESH_CALIBRATE                                   # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh
  G28 Z METHOD=CONTACT CALIBRATE=0                     # Calibrate z offset only with hot nozzle
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  G1 X162 Y175 Z15 F9000                      # Go to center of the bed
  M109 S{target_extruder}                               # Heat the hotend to set temp
  SET_GCODE_OFFSET Z=0.035                              # Add a little offset for hotend thermal expansion
  G92 E0
  Line_Purge
  G90                                                   # Absolute position[gcode_macro PRINT_START]

[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

[gcode_macro SMARTHOME]
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
        M118 Printer is already homed
    {% else %}
        M118 Printer needs homed...
        G28 X
	G0 X300 F9000
	G28 Y
	G0 Y175 X162 F9000
	G28 Z
	G0 Z25
    {% endif %}

[gcode_macro START_HEAT_SOAK]
gcode:

    {% set SOAK = params.SOAK|default(10) %}
           
        M117 Heating for Soak
        M190 S110
        M117 Starting Soak 
    {% for timer in range( SOAK,0,-1) %} #we cycle once a minute, so we can send an update to keep octoprint happy, rather than just sleeping for the entire soak
        M117 Soak: {timer|int}m remaining 
        M105
        G4 P60000
    {% endfor %}
        M117 Soak Complete
    
[gcode_macro SMART_Z_TILT]
gcode:
  {% if printer["gcode_macro Z_TILT_ADJUST"].adjusted != 1 %}
    Z_TILT_ADJUST
  {% else %}
    {action_respond_info("Z tilt already adjusted, skipping.")} 
  {% endif %}

[gcode_macro Z_TILT_ADJUST]
rename_existing: OG_Z_TILT_ADJUST
variable_adjusted: 0
gcode:
  OG_Z_TILT_ADJUST
  G28 Z
  SET_GCODE_VARIABLE MACRO=Z_TILT_ADJUST VARIABLE=adjusted VALUE=1

[gcode_macro M18]
rename_existing: M1800
gcode:
  M1800
  SET_GCODE_VARIABLE MACRO=Z_TILT_ADJUST VARIABLE=adjusted VALUE=0

[gcode_macro M84]
rename_existing: M8400
gcode:
  M8400
  SET_GCODE_VARIABLE MACRO=Z_TILT_ADJUST VARIABLE=adjusted VALUE=0

[gcode_macro RESONANCES_TEST]
description: Run input shaper test
gcode:
  SMARTHOME                                                 ; home if needed
  _PRINT_AR T="INPUT SHAPER: Noise values, check if sensor is installed"
  MEASURE_AXES_NOISE                                    ; get noise value in log
  _PRINT_AR T="INPUT SHAPER: Resonance Tests starting"
  _PRINT_AR T="INPUT SHAPER: Mesasure X axis"
  TEST_RESONANCES AXIS=X                                ; measure X
  _PRINT_AR T="INPUT SHAPER: Mesasure Y axis"
  TEST_RESONANCES AXIS=Y                                ; measure Y
  _PRINT_AR T="INPUT SHAPER: Resonance Tests done"
  _PRINT_AR T="INPUT SHAPER: Generate graph in backround"
  RUN_SHELL_COMMAND CMD=plot_graph PARAMS=SHAPER

[gcode_macro BELT_TEST]
description: Run resonance test to analyze belts
gcode:
  SMARTHOME                                                 ; home if needed
  TURN_OFF_HEATERS                                      ; turn off heaters
  _PRINT_AR T="BELT TEST: Noise values, check if sensor is installed"
  MEASURE_AXES_NOISE                                    ; get noise value in log
  _PRINT_AR T="BELT TEST: Resonance Tests starting ..."
  _PRINT_AR T="BELT TEST: Mesasure B belt"
  TEST_RESONANCES AXIS=1,1 OUTPUT=raw_data NAME=b
  _PRINT_AR T="BELT TEST: Mesasure A belt"
  TEST_RESONANCES AXIS=1,-1 OUTPUT=raw_data NAME=a
  _PRINT_AR T="BELT TEST: Resonance Tests done"
  _PRINT_AR T="BELT TEST: Generate graph in backround"
  RUN_SHELL_COMMAND CMD=plot_graph PARAMS=BELT

# Shell Comand is not supported by a default klipper installation 
[gcode_shell_command plot_graph]
command: bash /home/drewskii/klipper_config/script/plot_graph.sh
timeout: 60.0
verbose: True