[include shell_command.cfg]
[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include timelapse.cfg]
[include gcode-macros.cfg]
[exclude_object]

[force_move]
enable_force_move: True

[mcu]
canbus_uuid: d9a0fea82a6e

[mcu Ebb36]
canbus_uuid: 60c2a5d0afe2

#[firmware_retraction]
#retract_length: 2
#retract_speed: 60
#unretract_extra_length: 0
#unretract_speed: 55

[printer]
kinematics: corexy
max_velocity: 150  
max_accel: 5000   
#max_accel_to_decel: 2000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[heater_bed]
heater_pin: PB11
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1
min_temp: 0
max_temp: 135
pwm_cycle_time: 0.01666

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_F63C22EE4E5737374D202020FF080714-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: -22.5 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2

#[fan]
#pin: Ebb36:PA1

[heater_fan Hotend_Fan]
pin: Ebb36:PA0
max_power: 1.0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[heater_fan Bed_Fan]
pin: PD12
max_power: 1
heater: heater_bed
heater_temp: 70
fan_speed: 1.0

[temperature_sensor Octopus]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 10 
max_temp: 125

[temperature_sensor Ebb36]
sensor_type: temperature_mcu      
sensor_mcu: Ebb36
min_temp: 10 
max_temp: 125

[temperature_sensor Pi_4B]
sensor_type: temperature_host
min_temp: 10 
max_temp: 125

[temperature_sensor Chamber]
sensor_type: temperature_combined
sensor_list: temperature_sensor _upper_chamber, temperature_sensor _lower_chamber
combination_method: mean
maximum_deviation: 999.9

[temperature_sensor _upper_chamber]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF4
min_temp: 0
max_temp: 150

[temperature_sensor _lower_chamber]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF5
min_temp: 0
max_temp: 150                   

[heater_generic chamber_heater]  
heater_pin: PB10                  
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF6                  
control: watermark               
max_delta: 0.1                   
max_power: 0.55                   
min_temp: -100                   
max_temp: 100                     
pwm_cycle_time: 0.01666          #Set this to avoid room lights flickering on higher power heaters. This value works well for 60Hz power. 0.1 is 10Hz

[verify_heater chamber_heater]   #setup chamber heater verification parameters
max_error: 120
check_gain_time: 240
hysteresis: 5
heating_gain: 1

[heater_fan heater_fan]         
pin: PE5                        
max_power: 1.0                  
heater: chamber_heater          
heater_temp: 45                 

[input_shaper]
shaper_type_x: 2hump_ei
shaper_freq_x: 120.2
shaper_type_y: ei
shaper_freq_y: 83.8

[resonance_tester]
accel_chip: beacon
probe_points: 162, 175, 25

[idle_timeout]
timeout: 7200 # timeout in seconds (1800 = 30 minutes)

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 50, 10
mesh_max: 250,275
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
algorithm: bicubic

[safe_z_home]
home_xy_position: 162, 175
speed: 50.0
z_hop: 5
z_hop_speed: 15.0
move_to_previous: False

[z_tilt]
z_positions:
   -50, 18
   162, 398
   400, 18
points:
   25, 10
   162, 275
   310, 10
speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 2
max_freq: 200
dpi: 300

[beacon model default]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.6798957551687907,
#*# 	  2.046409350832518,
#*# 	  0.7589976726389869,
#*# 	  0.20956782868504248,
#*# 	  0.06221673478784633,
#*# 	  0.14418564225434566,
#*# 	  0.06912128218071464,
#*# 	  -0.02812425706845945,
#*# 	  0.030222184357114358,
#*# 	  0.03128465707520301
#*# model_domain = 1.89150647723046e-07,1.9392642329493222e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 60.342613
#*# model_offset = 0.00000
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 41.587
#*# pid_ki = 1.603
#*# pid_kd = 269.797
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.504
#*# pid_ki = 1.610
#*# pid_kd = 126.132
